@charset "utf-8";

body, #globalheader-container {
    line-height: 1.5;
}

// Variable
$linkColor: #129fc2;
$bodyTextColor: #000;

a {
  color: $linkColor;
}

#container, #footer {
  width: 75%;
    max-width: 50em;
    min-width: 33em;
  margin: 0 auto;
  padding: 0 1em;
}

#title {
    margin: 1.5em 0 0;
    font-size: 3em;
  -webkit-font-smoothing: antialiased;
}

#blog-description {
  margin: 0 0 .5em;
    font-size: 1.2em;
  font-weight: normal;
}

h1 a, .date a {
  color: $bodyTextColor;
    text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.entry-inner {
    margin: 2em 0;
}

.entry-header {
    position: relative;
}

.categories a:before {
    content: "#";
}

.entry-header-menu {
    position: absolute;
    top: 0;
    left: 6em;
}

.hatena-fotolife {
    width: 100%;
}

.hatena-asin-detail {
    padding: 1em;
    border: none;
}

table,th,td {
    border-collapse: collapse;
    border: 1px solid #999;
}

th,td {
    padding: .5em;
}

pre.code {
    padding: 1em;
    background: #333;
    color: #fff;
    font-size: .8em;
    line-height: 1.3em;
}

.pager-arrow {
    display: none;
}

.pager-prev {
    display: block;

    &:before {
        content: "新しい記事へ »";
    }
}

.pager-next {
    display: block;

    &:before {
        content: "古い記事へ »";
    }
}

.hatena-module-title {
    margin: 1em 0 0 0;
}

.archive-entries {
    section {
        margin: 2rem 0;

        .date {
            margin: 0 0 -1.2rem;
        }

        .entry-thumb {
            float: right;
            margin: 0 1em 0 0;
        }
    }
}